<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjedu.judge.mapper.JudgeMapper">

    <select id="getCommonJudgeList" resultType="com.zjedu.pojo.vo.JudgeVO" useCache="true">
        select j.submit_id, j.submit_time, j.display_pid, j.username, j.uid, j.pid, j.status, j.share,
        j.time, j.memory, j.score, j.oi_rank_score, j.length, j.language, j.judger, j.is_manual
        from judge j
        <where>
            <if test="username != '' and username != null">
                AND j.username like concat('%',#{username},'%')
            </if>
            <if test="status != null">
                AND j.status = #{status}
            </if>
            <if test="uid != null and uid != ''">
                AND j.uid = #{uid}
            </if>
            <if test="searchPid != null">
                <if test="completeProblemID != true">
                    AND j.display_pid like concat('%',#{searchPid},'%')
                </if>
                <if test="completeProblemID">
                    AND j.display_pid = #{searchPid}
                </if>
            </if>
        </where>
        order by j.submit_time DESC, j.submit_id DESC
    </select>


</mapper>
